										</div>
									</div>
								</div>
							</div>
						</div>

					</div><!-- wpbody -->
				</div> <!-- wpcontent -->
			</div> <!-- wpwrap -->

			<!-- footer -->
			<div id="footer">
				<p id="footer-left" class="alignleft"><span id="footer-thankyou">Thank you for using <a href="#">{$layout.enginename}</a>.</span>
		| <a href="#">CSS is taken from Wordpress (thank you and sorry...)</a></p>
				<p id="footer-upgrade" class="alignright">You are using version: {$layout.version}</p>

				<div class="clear"></div>
			</div>
			<!-- end of footer -->

		</body>
	</html>
